h1{
    /* border-top:2px solid red;
    border-bottom:4px solid green;
    border-right:6px solid red;
    border-left:8px solid red;
    border-top-style:solid;
    border-top-color:red;
    border-top-width:2px;
   
    */
/* border-width: 2px ;
border-style:solid;
border-color:red; 
border-width:4px 6px 4px 6px;
border-style:solid dashed inset outset;
border-color:red yellow blue green; */
/* border: 6px solid red; */
/* border-width:2px 5px;
border-color:red;
border-style:solid; */
text-align:right;
border:6px solid red;
padding:14px 18px 14px 18px;
margin-top:100px;
margin-left:50px;
}